aiohttp           
altgraph          
arcade            
astroid           
async-timeout     
attrs             
backcall          
beautifulsoup4    
bleach            
brain             
bs4               
certifi           
cffi              
chardet           
Cogs              
colorama          
decorator         
defusedxml        
discord.py       
entrypoints       
future            
geojson           
idna              
ipykernel         
ipython           
ipython-genutils  
isort             
jedi              
Jinja2           
json5             
jsonschema        
jupyter-client    
jupyter-core      
jupyterlab        
jupyterlab-server 
lazy-object-proxy 
MarkupSafe        
mccabe            
mistune           
multidict         
nbconvert         
nbformat          
notebook          
numpy             
pandas            
pandocfilters     
parso             
pefile            
pickleshare       
Pillow           
pip               
pip-utils         
prometheus-client 
prompt-toolkit    
pycparser         
pygame            
pyglet            
Pygments          
PyInstaller       
pylint           
PyNaCl            
pyowm             
pyrsistent        
pyTelegramBotAPI  
python-dateutil   
pytiled-parser    
pytz              
pywin32          
pywin32-ctypes    
pywinpty          
PyYAML            
pyzmq             
requests          
Send2Trash        
setuptools        
six               
soupsieve         
terminado         
testpath         
tornado           
traitlets         
urllib3           
wcwidth           
webencodings      
websockets        
wrapt             
yarl              
youtube-dl